name: Update CNIP RSC

on:
  schedule:
    # 北京时间每天中午 12:00 运行 (UTC时间 4:00)
    - cron: '0 4 * * *'
  workflow_dispatch: # 允许你手动点击按钮触发

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout codebase
        uses: actions/checkout@v3

      - name: Generate cnip.rsc
        run: |
          # 1. 定义文件名
          FILE="cnip.rsc"

          # 2. 写入头部
          echo "/ip firewall address-list" > $FILE
          echo "remove [find list=CNIP]" >> $FILE

          # 3. 写入你的私有网段 (注意双引号转义)
          echo 'add list=CNIP address=192.168.0.0/16 comment="private-network"' >> $FILE
          echo 'add list=CNIP address=10.0.0.0/8 comment="private-network"'
          echo 'add list=CNIP address=172.16.0.0/12 comment="private-network"' >> $FILE
          echo 'add list=CNIP address=100.64.0.0/10 comment="ISP-CGNAT"' >> $FILE

          # 4. 下载并转换在线 IP 库
          curl -sL https://raw.githubusercontent.com/RikudouPatrickstar/GeoIP2-CN/master/cncidr.txt | \
          awk '{print "add list=CNIP address="$1}' >> $FILE

      - name: Commit and Push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add cnip.rsc
          # 如果文件有变化才提交，防止空提交报错
          git commit -m "Auto update cnip.rsc" || exit 0
          git push
